*{
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.wholeweb {
  background-color: #1f2937;
}

#upperpart {
  margin-left: 15%;
  margin-right: 15%;
  /* background-color: yellow; */
}

.header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

#logo {
  color: white;
  font-weight: 800;
}

#navegations {
  width: 50%;
  color: white;
  display: flex;
  justify-content: end;
  list-style: none;
  align-items: center;
}

#navegations a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
}

#upcontent{
  margin: 50px 0px 50px 0px;
  display: flex;
  justify-content: space-between;

  color: white;

}

.textcontent{
  display: flex;
  flex-direction: column;
}

.textcontent h1{
  font-weight: 800;

}

.textitem{
  margin-bottom: 10px;
}


.button{
  width: fit-content;
  padding: 4px 20px 4px 20px;
  background-color: #3882f6;
  border-radius: 9px;
  border: none;
  color: white;
}


.information{
  background-color: white;
}



