*{
    margin: 0px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px;
}

.header{
    padding: 5px;
    background-color: rgb(133, 100, 100);
    display: flex;
    justify-content: space-between;
}

#logo{
    color: white;
    
}

#navegations{
    width: 50%;
    margin-right: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

#navegations a{
    text-decoration: none;
    color: white;
}

